<tr id="<%= dom_id countee %>" class="odd:bg-blue-800 transition-colors duration-100 hover:bg-blue-700 cursor-pointer">
  <td class="py-1 text-xs font-mono font-bold text-blue-200">
    <time>
      <%= l(countee.created_at, format: :short) %>
    </time>
  </td>
  <td class="py-1 text-white">
    <%= countee.district.name %>
  </td>
  <td class="py-1">    
    <%= countee.gender && countee.gender.label %>
  </td>
  <td class="py-1">
    <%= countee.age_group && countee.age_group.label %>
  </td>
  <td class="py-1 text-right">
    <%= countee.pet_count && countee.pet_count %>
  </td>

  <% if action_name != "show" && false %>
    <div class="flex justify-end">
      <%= render(ButtonComponent.new(tag: :a, href: edit_counting_countee_path(@counting, countee), scheme: :link, additional_classes: 'pl-0 pr-0')) do %>
        <%= t('countees.edit.title') %>
      <% end %>
    </div>
  <% end %>
</div>
