<% content_for(:header_slot) {
    render ButtonComponent.new(scheme: :link, tag: :a, href: counting_path(@counting), class: 'p-0') do
      "â† #{@counting.title}"
    end
  }
%>

<% content_for(:main_tag_classes) { 'p-5' } %>

<div>
  <div class="flex justify-between gap-2">
    <h1 class="text-2xl font-bold pb-2"><%= t('countees.index.title') %></h1>
    <% unless @counting.countees.empty? %>
      <%= render ButtonComponent.new(tag: :a, href: counting_countees_path(@counting, format: :csv)) do %>
        <%= t('countees.all.download') %>
      <% end %>
    <% end %>
  </div>
  <ul>
  <% @countees.each do |countee| %>
    <%= render(CounteeCardComponent.new(created_at: countee.created_at, counting_area: countee.counting_area.name, gender: countee.gender.present? && countee.gender.label, age_group: countee.age_group.present? && 
    age_group_label(countee.age_group.min_age, countee.age_group.max_age), pet_count: countee.pet_count.present? && countee.pet_count, class: 'mt-3')) %>
    <%= render(ButtonComponent.new(type: :submit, path: counting_countee_path(@counting, countee), scheme: :danger, method: :delete, form: { data: { turbo_confirm: t('countees.destroy.are_you_sure') } }, additional_classes: 'mt-3')) do %>
      <%= t('countees.destroy.title') %>
    <% end %>
  <% end %>
  </ul>
  <% if @pagy.pages > 1 %>
    <div class="mt-8">
      <%== pagy_nav(@pagy) %>
    </div>
  <% end %>
</div>
