<div class="mt-8 px-5">
  <h1><%= t('people.edit.title') %></h1>

  <%= turbo_frame_tag dom_id(@person) do %>
    <%= form_with(model: @person, url: counting_person_url(@counting, @person), method: :patch, id: 'person_form') do |form| %>
      <div class="mt-5">
        <%= form.label :pet_count %>
        <%= form.number_field :pet_count, step: 1, class: "#{@person.errors[:pet_count].any? ? 'border-danger' : ''}" %>

        <% if @person.errors[:pet_count].any? %>
          <ul class="text-danger mt-1">
            <% @person.errors[:pet_count].each do |error_message| %>
            <li>
              <%= t('activerecord.attributes.person.title') %>&nbsp;<%= error_message %>
            </li>
            <% end %>
          </ul>
        <% end %>

        <%= form.label :gender_id %>
        <%= form.select :gender_id, @genders %>

        <%= form.label :age_group_id %>
        <%= form.select :age_group_id, AgeGroup.all.collect { |age_group| [ age_group.label, age_group.id ] } %>

      </div>

      <div class="mt-6 flex justify-between items-center">
        <%= render(ButtonComponent.new(tag: :a, href: :back)) do %>
          <%= t('people.cancel.title') %>
        <% end %>
        <%= form.submit class: 'primary' %>
      </div>
    <% end %>
    <div class="py-4 border-b border-blue-300 flex justify-end">
      <%= render(ButtonComponent.new(type: :submit, path: counting_person_path(@counting, @person), scheme: :danger, method: :delete)) do %>
        <%= t('people.destroy.title') %>
      <% end %>
    </div>
  <% end %>
</div>