<% title = @counting_status == 'past' ? t('views.counting.index.title.past') : t('views.counting.index.title.upcoming') %>

<% content_for(:html_title) { t('views.counting.index.title.default') } %>

<div class="w-full px-5">
  <div class="flex justify-end">
    <% if @counting_status == 'past' %>
      <%= filter_by t('views.counting.index.title.upcoming'), 'upcoming' %>
    <% else %>
      <%= filter_by t('views.counting.index.title.past'), 'past' %>
    <% end %>
  </div>

  <div class="mt-6 flex flex-wrap justify-between items-center">
    <h1><%= title %></h1>
    <% if user_signed_in? and current_user.admin? %>
      <%= link_to I18n.t('views.counting.new.title'), new_counting_path %>
    <% end %>
  </div>

  <div id="countings" class="mt-6">
    <%= render @countings %>
  </div>
</div>
