<div class="mx-auto w-full flex">
  <div class="mx-auto">

    <%= turbo_frame_tag 'counting' do %>
      <%= render @counting %>

      <% if user_signed_in? and current_user.admin? %>
        <%= link_to I18n.t('views.counting.edit.title'), edit_counting_path(@counting), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
        <div class="inline-block ml-2">
          <%= button_to I18n.t('views.counting.destroy.title'), counting_path(@counting), method: :delete, data: {'turbo-frame': '_top'}, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium text-red-500" %>
        </div>
      <% end %>
    <% end %>

    <%= link_to I18n.t('views.counting.back.title'), countings_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
</div>
