<% content_for(:html_title) { @counting.title } %>

<% content_for(:main_tag_classes) { 'mt-4 mb-4' } %>

<div class="w-full h-full">
  <%= render(ButtonComponent.new(tag: :a, href: countings_path, scheme: :link, class: 'mt-2 mx-5 pl-0 pr-0')) do %>
    <%= "â† #{t('countings.back.title')}" %>
  <% end %>

  <article class="mt-4 px-5">
    <%= render(Counting::HeaderComponent.new(title: @counting.title, starts_at: @counting.starts_at, ends_at: @counting.ends_at)) do %>
    <% end %>

    <% if user_signed_in? && @counting.ongoing? %>
      <div class="mt-4">
        <%= render(ButtonComponent.new(tag: :a, href: new_counting_countee_path(@counting), scheme: :primary, class: 'block w-full text-center')) do %>
          <%= t('countees.new.title') %>
        <% end %>
      </div>
    <% end %>

    <% if user_signed_in? && current_user.admin? %>
      <div class="mt-4">
        <%= render(ButtonComponent.new(tag: :a, href: counting_countees_path(@counting), class: 'block w-full text-center')) do %>
          <%= t('countees.index.title') %>
        <% end %>
      </div>
    <% end %>

    <main class="pt-8">
      <%= @counting.description_long %>
    </main>
  </article>

  <% if user_signed_in? and current_user.admin? %>
    <div class="mt-4 block px-5 flex justify-center">
      <%= render(ButtonComponent.new(tag: :a, href: edit_counting_path(@counting), scheme: :link, size: :small, class: 'px-0 underline')) do %>
        <%= t('countings.edit.explicitly') %>
      <% end %>
    </div>
  <% end %>
</div>
