<header class="fixed top-0 left-0 w-full h-14 px-5 py-1 flex justify-between bg-blue-900 border-b border-b-blue-700 z-20">
  <div class="flex items-center text-white font-medium">
    <%= link_to t('app.title'), locale_root_path %>
  </div>
  <div
    data-controller="navbar language-switch"
    class="relative flex items-center z-10"
  >
    <button 
      type="button"
      data-action="click->language-switch#toggle"
      class="pl-2 md:pl-5 flex items-center gap-x-2 transition-colors hover:text-white"
      aria-hidden="true"
    >
      <%= render(IconComponent.new(type: :language)) %>
      <span class="sr-only"><%= t('common.select_language') %></span>
    </button>
    <nav
      data-language-switch-target="nav"
      class="sr-only order-first w-full md:w-64 fixed top-14 right-0 bg-blue-100 px-5 py-4"
      aria-labelledby="language-select-label"
    >
      <p
        id="language-select-label"
        class="text-blue-400 tracking-wider text-xs font-medium uppercase pb-2 border-b border-b-blue-200"
        aria-hidden="true"
      >
        <%= t('common.select_language') %>
      </p>
      <ul class="mt-2 grid gap-2 text-blue-900 font-medium">
        <li>
          <%= link_to_unless I18n.locale == :de, t('locale_labels.de'), { locale: :de }, { class: 'language-selector' } %>
        </li>
        <li>
          <%= link_to_unless I18n.locale == :en, t('locale_labels.en'), { locale: :en }, { class: 'language-selector' } %>
        </li>
      </ul>
    </nav>
  </div>
</header>