<div
  data-controller="navbar language-switch"
  class="relative flex items-center"
>
  <button 
    type="button"
    data-action="click->navbar#toggle"
    class="md:hidden flex items-center gap-x-2"
    aria-hidden="true"
  >
    <span id="main-menu-title"><%= t('common.main_menu') %></span>
    <div data-navbar-target="hamburger" class="text-white">
      <%= render(IconComponent.new(type: :hamburger)) %>
    </div>
    <div data-navbar-target="close" class="text-white hidden">
      <%= render(IconComponent.new(type: :close)) %>
    </div>
  </button>
  <button 
    type="button"
    data-action="click->language-switch#toggle"
    class="ml-2 pl-2 md:pl-5 border-l border-l-blue-500 flex items-center gap-x-2 transition-colors hover:text-white"
    aria-hidden="true"
  >
    <%= render(IconComponent.new(type: :language)) %>
  </button>
  <nav
    data-navbar-target="toggleable"
    class="sr-only md:not-sr-only order-first w-full fixed md:static top-14 md:top-auto left-0 md:left-auto bg-blue-800 md:bg-transparent py-0"
    aria-labelledby="main-menu-title"
  >
    <ul class="w-full grid grid-cols-1 md:flex gap-y-0">
      <li class="border-b md:border-b-0 border-b-blue-500">
        <%= render(ButtonComponent.new(tag: :a, href: countings_path, scheme: :link, additional_classes: 'w-full px-4 py-5 md:py-3')) do %>
          <%= t("activerecord.models.counting.other").capitalize %>
        <% end %>
      </li>
      <% if user_signed_in? %>
      <li class="border-b md:border-b-0 border-b-blue-500">
        <%= render(ButtonComponent.new(tag: :a, href: profile_path, scheme: :link, additional_classes: 'w-full px-4 py-5 md:py-3')) do %>
          <%= t('common.profile') %>
        <% end %>
      </li>
      <% else %>
      <li class="border-b md:border-b-0 border-b-blue-500">
        <%= render(ButtonComponent.new(tag: :a, href: new_user_session_path, scheme: :link, additional_classes: 'w-full px-4 py-5 md:py-3')) do %>
          <%= t('devise.sessions.new.sign_in') %>
        <% end %>
      </li>
      <li class="border-b md:border-b-0 border-b-blue-500">
        <%= render(ButtonComponent.new(tag: :a, href: new_user_registration_path, scheme: :link, additional_classes: 'w-full px-4 py-5 md:py-3')) do %>
          <%= t('devise.registrations.new.sign_up') %>
        <% end %>
      </li>
      <% end %>
    </ul>
  </nav>
  <nav
    data-language-switch-target="nav"
    class="sr-only order-first w-full md:w-64 fixed top-14 right-0 bg-blue-100 px-5 py-4"
    aria-labelledby="language-select-label"
  >
    <p
      id="language-select-label"
      class="text-blue-400 tracking-wider text-xs font-medium uppercase pb-2 border-b border-b-blue-200"
      aria-hidden="true"
    >
      <%= t('common.select_language') %>
    </p>
    <ul class="mt-2 grid gap-2 text-blue-900 font-medium">
      <li>
        <%= link_to_unless I18n.locale == :de, "Deutsch", { locale: :de }, { class: 'language-selector' } %>
      </li>
      <li>
        <%= link_to_unless I18n.locale == :en, "English", { locale: :en }, { class: 'language-selector' } %>
      </li>
    </ul>
  </nav>
</div>