<div class="px-5">
  <h1 class="font-bold text-4xl"><%= t("app.title") %></h1>
  <p class="mt-4"><%= t(".intro") %></p>
  <div class="mt-7 flex flex-wrap gap-3">
    <%= render(ButtonComponent.new(tag: :a, href: countings_path, scheme: :primary)) do %>
      <%= t("activerecord.models.counting.other").capitalize %>
    <% end %>
    <% unless user_signed_in? %>
      <%= render(ButtonComponent.new(tag: :a, href: new_user_session_path)) do %>
        <%= t("devise.sessions.new.sign_in").capitalize %>
      <% end %>
    <% end %>
  </div>
</div>
