<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:html_title) ? yield(:html_title) + " | #{t('app.title')}" : t('app.title') %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <link href="https://unpkg.com/maplibre-gl@1.15.2/dist/maplibre-gl.css" rel="stylesheet" />
  </head>

  <body class="h-screen">
    <div class="w-full h-[calc(100vh-80px)] grid grid-cols-1 grid-rows-[auto,1fr] gap-0">

      <%= render NavbarComponent.new(class: 'fixed bottom-0 left-0') do |component| %>
        <% [{ title: I18n.t('navbar.home'), href: locale_root_path },
            { title: I18n.t('navbar.countings'), href: countings_path },
            { title: I18n.t('navbar.account'), href: profile_path }].each do |item|
        %>
          <%= component.with_navbar_item(title: item[:title], href: item[:href]) %>
        <% end %>
      <% end %>

      <%= render HeaderComponent.new do |component| %>
        <%= component.with_language_switch(label: t('common.select_language')) do |language_component| %>
          <%= language_component.with_language_link { link_to_unless I18n.locale == :de, I18n.t('locale_labels.de'), { locale: :de }, { class: 'language-selector' } } %>
          <%= language_component.with_language_link { link_to_unless I18n.locale == :en, I18n.t('locale_labels.en'), { locale: :en }, { class: 'language-selector' } } %>
        <% end %>

        <%= component.with_link { content_for?(:header_slot) ? yield(:header_slot) : link_to(t('app.title'), locale_root_path) } %>
      <% end %>

      <main class="overflow-y-scroll <%= yield(:main_tag_classes) if content_for?(:main_tag_classes) %>">
        <%= content_for?(:content) ? yield(:content) : yield %>
      </main>
    </div>

    <div
      class="fixed top-14 left-0 w-full p-2 mx-auto z-10 grid grid-cols-1 gap-y-2"
    >
      <%= render "shared/global_flash" %>
    </div>
  </body>
</html>
