<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:html_title) ? yield(:html_title) + " | #{t('app.title')}" : t('app.title') %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <link href="https://unpkg.com/maplibre-gl@1.15.2/dist/maplibre-gl.css" rel="stylesheet" />
  </head>

  <body class="min-h-screen grid gap-0 grid-rows-[auto_1fr]">
    <%= render "shared/header" %>
    <div class="fixed top-14 left-0 w-full p-2 mx-auto z-10 grid grid-cols-1 gap-y-2">
      <%= render "shared/global_flash" %>
    </div>
    <main class="w-full h-full mt-14 <%= yield(:main_tag_classes) if content_for?(:main_tag_classes) %>">
      <%= content_for?(:content) ? yield(:content) : yield %>
    </main>
  </body>
</html>
